@using System.Text.Encodings.Web
@using Microsoft.AspNetCore.Antiforgery
@using My4Notes.Web.Components.Layout

<div class="modal-dialog">
  <div class="modal-content">
    <form id="notesForm" hx-post="/createNote" hx-target="body" hx-swap="outerHTML">
      <input name="@Token.FormFieldName" type="hidden" value="@Token.RequestToken" />
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Create new note</h1>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label><b>Title</b></label>
          <input id="titleInput" type="text" class="form-control" name="title" placeholder="Title" aria-label="Title" maxlength="255">
        </div>
        <div class="form-group">
          <label><b>Text</b></label>
          <textarea id="textInput" class="form-control" name="text" form="notesForm" rows="3" placeholder="Text"></textarea>
        </div>

      </div>
      <div class="modal-footer">
        <input id="submitButton" type="submit" class="btn btn-dark" value="Add note" data-bs-dismiss="modal">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </form>
  </div>
</div>

@code {
  [Parameter] 
  public AntiforgeryTokenSet Token { get; set; }
}