@using My4Notes.Entities
@using My4Notes.Web.Components.Layout
@using My4Notes.Web.Components.Pages

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel='stylesheet' href='css/bootstrap.min.css'>
    <link rel='stylesheet' href='css/bootstrap-pagination.css'>
    <link rel="icon" type="image/x-icon" href="/favicon.png">
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
<Routes @rendermode="InteractiveServer" />
<script src="_framework/blazor.web.js"></script>
</body>
</html>

@code {}