@using Microsoft.AspNetCore.Antiforgery
@using Microsoft.EntityFrameworkCore
@using My4Notes.DatabaseAccess
@inherits LayoutComponentBase

@inject ApplicationState applicationState

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel='stylesheet' href='css/bootstrap.min.css'>
    <link rel="icon" type="image/x-icon" href="/favicon.png">
    <script src="js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
</head>
<body class="d-flex flex-column h-100">
<div class="sticky-top">
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <button hx-get="/createNote"
                        hx-target="#newNoteModal"
                        hx-trigger="click"
                        type="button"
                        class="btn btn-dark"
                        data-bs-toggle="modal"
                        data-bs-target="#newNoteModal">
                    New note
                </button>
                <div id="searchBar" hx-get="/search" hx-trigger="load" hx-swap="innerHTML"></div>
                <div>Total notes: @applicationState.NotesCount</div>
            </div>
        </nav>
    </header>
</div>
@Body
<div class="modal fade" id="newNoteModal" tabindex="-1" aria-labelledby="newNoteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
      
        </div>
    </div>
</div>

<div style="padding-bottom:70px;"></div>
<div class="fixed-bottom">
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container d-flex justify-content-center">
            <span class="text-muted">My4Notes: anonymous notes sharing</span>
        </div>
    </footer>
</div>
</body>
</html>

@code {
    
}